<div style="padding: 5px">
<!-- Display the report configuration -->
<h4>
    $i18n.getText('estimation-report.project'): $projectName
</h4>
<p>
$i18n.getText('estimation-report.prognosis') $i18n.getText('estimation-report.for')
$projectName $i18n.getText('estimation-report.filter') $filter
</p>
<p>
$i18n.getText('estimation-report.for') $countMember $i18n.getText('estimation-report.member')
</p>
<p>
$i18n.getText('estimation-report.for') $comparisonMethod $i18n.getText('estimation-report.comparisonmethod')
</p>
<p>
Project is expected to finish on: $finishDate (currently having $openIssues openIssues with $openCost Cost).
This is with an uncertainty of +/- $uncertainty weeks. Whole Project TicketsPerDay $ticketsPerDay .
</p>
<p>
Cost Map value: $costMap
</p>
<p>
SML Map values: $smlMap
</p>
<h5>
Debug
</h5>
<p>
$avgDaysOpened == $avgDaysOpenedNew
</p>
Project Start Date: $projectStart
</p>
<p>
Monthly ticket rate: $ticketRateMonthly
</p>
<p>
Query: $queryLog
</p>
<p>
Open Issue List: $openIssueList
</p>
<p>
Selected pools are: $filterpool.
</p>
<p>
possible pools are: $status.
</p>
<p>
stus Categorys are: $statusCategory.
</p>
<h5>
Based on Average Duration
</h5>
<p>
Average Days Opened: $avgDaysOpened . Projected finish date: $avgFinishDate
</p>
<br />
<!--<table style="width: 100%; border: 0; background-color: lightgrey">
    <tr valign="bottom" style="background-color: white; padding: 1px">
        #foreach ($normalCount in $normalisedCount)
            <td height="$maxHeight" align="center">
            #if ($normalCount == 0)
                &nbsp;
            #else
                <img src="${baseurl}/images/bluepixel.gif" width="12" height="$normalCount">
            #end
            </td>
        #end
    </tr>
    <tr style="background-color: #eee; padding: 1px">
        #foreach ($count in $openCount)
            <td align="center"><b>$count</b></td>
        #end
    </tr>
    <tr style="background-color: #eee; padding: 1px">
        #foreach ($date in $dates)
            <td align="center"><b>$outlookDate.formatDMY($date)</b></td>
        #end
    </tr>
</table>-->
</div>