<div style="padding: 5px">
<!-- Display the report configuration -->
<h4>
    $i18n.getText('estimation-report.project'): $projectName |
    $i18n.getText('estimation-report.duration'): $outlookDate.formatDMY($startDate) - $outlookDate.formatDMY($endDate)
</h4>
<p>
$i18n.getText('estimation-report.prognosis')
</p>
<p>
$i18n.getText('estimation-report.for') $projectName $i18n.getText('estimation-report.filter') $filter
</p>
<p>
$i18n.getText('estimation-report.for') $countMember $i18n.getText('estimation-report.member')
</p>
<p>
$i18n.getText('estimation-report.for') $comparisonMethod $i18n.getText('estimation-report.comparisonmethod')
</p>
<p>
Project is expected to finish on: $finishDate (currently having $openIssues openIssues with $openCost Cost).
This is with an uncertainty of +/- $uncertainty weeks.
</p>
<br />
<!--<table style="width: 100%; border: 0; background-color: lightgrey">
    <tr valign="bottom" style="background-color: white; padding: 1px">
        #foreach ($normalCount in $normalisedCount)
            <td height="$maxHeight" align="center">
            #if ($normalCount == 0)
                &nbsp;
            #else
                <img src="${baseurl}/images/bluepixel.gif" width="12" height="$normalCount">
            #end
            </td>
        #end
    </tr>
    <tr style="background-color: #eee; padding: 1px">
        #foreach ($count in $openCount)
            <td align="center"><b>$count</b></td>
        #end
    </tr>
    <tr style="background-color: #eee; padding: 1px">
        #foreach ($date in $dates)
            <td align="center"><b>$outlookDate.formatDMY($date)</b></td>
        #end
    </tr>
</table>-->
</div>