<html>
  <head>
    <title>My Admin</title>
    <meta name="decorator" content="atl.admin">
    <script type="text/javascript" src="/jira/plugins/servlet/js/estimationplugin.js">alert("hello");</script>
  </head>
  <body>

      <form id="admin" class="aui" action="" method="POST">
              <div class="field-group" >
                   <label>Project: </label>
                   <input data-container-class="project-ss" type="text" class="project-field" value="10001"
                          id="project" name="pid"/>
                   <div id="project-options" data-suggestions="$projectSugg"></div>
              </div>
              <div class="field-group">
                   <label for="name">#Programmers:</label>
                   <input type="text" id="programmers" name="name" class="text">
              </div>
              <div class="field-group">
                   <label for="name">Based on:</label>
                   <input type="text" id="based" name="name" class="text" style="max-width:125px">
                   <select type="text" id="based-select" name="name" class="text" style="max-width:125px">
                        <option>Months</option>
                   </select>
              </div>
              <div class="field-group aui-field-datepicker">
                    <label for="duedate">Due Date</label>
                    <input class="text medium-field" id="duedate" name="duedate" type="text" value="">
                    <a href="#" id="duedate-trigger" title="Select a date">
                        <span class="icon-default aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                    </a>
              </div>
              <div class="field-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" class="text">
              </div>
              <div class="field-group">
                  <label for="age">Age:</label>
                  <input type="text" id="age" name="age" class="text">
              </div>
              <div class="field-group">
                  <input type="submit" value="Save" class="button">
                  <a href="${req.contextPath}/browse/${id}" class="cancel">Cancel</a>
              </div>
      </form>
  </body>
</html>
